@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/HelveticaNeueBold.ttf');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-size: 20px;


}
/*cuerpo*/
body{
    background-color: #232533;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 100px;


}
.espacio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}
.espacio2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-bottom: 520px;

}


/*----------------------------------------------*/
.text-Rebajas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 120px;
}

p {
    color:#b1e3e3 ;
    font-size: 36px;
}

/*------------------------------------------------------*/
/*tres imagenes contenedor*/
.image-container {
    margin-top: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgc {
    height: 450px;
    width: 450px;
    margin: 1px;
}

.contf{
    background-color: #b1e3e3;
}